/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Press Start 2P Regular'), local('PressStart2P-Regular'), url(https://fonts.gstatic.com/s/pressstart2p/v8/e3t4euO8T-267oIAQAu6jDQyK3nVivY.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Raleway Bold Italic'), local('Raleway-BoldItalic'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptpg8zYS_SKggPNyCgw9qR_AtCe.ttf) format('truetype');
}
/* Set every element's box-sizing to border-box */
* {
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  height: 100%;
}
.wrapper {
  width: 100%;
  height: 100%;
  background-color: gray;
  margin: 2% 0 2%;
}
.topNav {
  display: flex;
  width: 100%;
  height: 5%;
  justify-content: space-evenly;
}
#home {
  display: flex;
  margin: 1% 25% 2%;
}
#home header {
  background: lightgray;
  border-bottom: 3px solid black;
  font-size: 3rem;
  color: black;
  padding: 2% 4% 2%;
}
#home header h1 {
  font-family: 'Raleway', sans-serif;
  margin-bottom: 2%;
}
#home header h2 {
  font-family: 'Press Start 2P', cursive;
  margin-bottom: 2%;
}
#home header img {
  width: 45%;
  border: 2px solid black;
  border-radius: 50%;
}
#about {
  background: darkgray;
  color: black;
  margin: 1% 25% 2%;
  padding: 2% 4% 2%;
}
#about h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 3rem;
  margin-bottom: 2%;
}
#about p {
  font-family: 'Press Start 2P', cursive;
  line-height: 1.5;
  font-size: 1.5rem;
}
#Exp {
  background: lightgray;
  color: black;
  margin: 1% 25% 2%;
  padding: 2% 4% 2%;
}
#Exp .portfolio {
  display: flex;
  flex-direction: column;
  background: darkgray;
  width: 80%;
  padding: 2% 4% 2%;
}
#Exp .portfolio h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 3rem;
  margin: 1% 25% 2%;
  margin-bottom: 2%;
}
#Exp .portfolio p {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  line-height: 1.5;
}
#Exp .portfolio p a {
  text-decoration: none;
  color: gold;
}
#Exp .portfolio p a:hover {
  color: white;
}
